/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

.main-container {
    max-width: 70%;
    margin: 0 auto;
    height: 88vh;
}